/* CSS Document */
body {
  font-family: serif, Arial;
  background-color: grey;
}

#obal {
  max-width: 960px;
  /* Maxim�ln� ���ka 960 px */
  margin :0 auto;
  /* Nastav okraje tak, aby byl blok obal na str�nce vycentrov�n */
  border: 1px solid grey;
  /* Ohrani�en� - pln� �ed� ��ra o tlou��ce 1 pixel  */
  padding: 20px;
  /* Vnit�n� odsazen� - 20 pixel� */
  background-color: white;
  /* B�l� barva pozad� */
    color: #333;
  /* Barva textu - tmav� �ed� odst�n, �estn�ctkov� hodnoty 3 */
}

nav {
  /* Selektor pro zna�ku nav */
  background-color: #222;
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 1.1em;
  color: lightgray;
}



/* Pro v�echny odkazy v bloku navigace */
nav a  {
  padding: 19px;
  text-decoration: none;
  /* Odkazy nebudou podtr�eny */
  color: lightgray;
}



/* Pro v�echny odkazy v bloku navigace p�i p�ejet� kurzoru my�i */
nav a:hover  {
  color: white;
  background-color: rgb(0, 153, 204);
}

h1 {
  text-align: center;
  /* Nadpis bude vycentrov�n */
  font-size: 2em;
  /* Velikost nadpisu bude dvojn�sobn� vzhledem k z�kladn� velikosti p�sma */
  font-weight: bold;
  /* Nadpis bude tu�n� */
  color:  rgb(0, 153, 204);
  /* Barva nadpisu bude toto�n� s barvou zv�razn�n�ho odkazu */
  text-transform: uppercase;
  /* Nadpis bude vyps�n velk�mi p�smeny */
  line-height: 2em;
  /* V��ka ��dku nadpisu bude 2em */
}

h2, h3 {
  /* Plat� pro nadpisy h2 i h3 */
  font-weight: 200;
  line-height: 2em;
  position: relative;
  /* Pro relativní pozicování podtržení */
  text-decoration: none;
  /* Vypnutí výchozího podtržení */

}

h2 {
  font-size: 1.6em;
  color: rgb(102, 153, 0);
  display: inline-block;
  /* Aby byla šířka podtržení pouze pod textem */;
}

h3 {
  font-size: 1.2em;
  border-bottom: 1px dotted rgb(102,153,2);
  /* Nadpisy budou podtr�eny tenkou te�kovanou �arou, jej� barva bude shodn� s barvou p�sma */
}

.zkratka {
  text-decoration: underline dotted red;
}

p,li {

  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  /* Horn� a spodn� okraj odstavc� i odr�ek budou odsazeny o hodnotu 1em */
}

code {
  font-family: "Courier New", monospace;
}

p {
  text-align: justify;
  /* Text odstavc� bude zarovn�n do bloku */
}

.poznamka {
  font-style: italic;
  color: grey;
  margin-left: 10px;
  /* Odsazení odstavce zleva */
  border-left: 10px solid silver;
  /* Tlustá čára nalevo od odstavce */
  font-size: 90%;
  padding-left: 50px;
}

/* Nastavte pravidlo pro v�echny odstavce-pozn�mky: 
    * na lev�m okraji bude �ed� ohrani�en� 10px siln�
    * text bude zleva odsazen o 50 pixel�
    * pou�it� font bude o 10% men�� ne� z�kladn� p�smo
    * p�smo bude naklon�n� (kurz�va)
*/
li {
  /* Nastavte styl odr�ek tak, aby odpov�dal p�edloze (�tvercov� odr�ka) */
  list-style-position: outside;
  margin-left: 20px;
  list-style-type: square;
}

.nadpis {
  font-weight: bold;
  color:  rgb(0, 153, 204);
}

/* Nastavte pravidlo pro v�echny tu�n� a mod�e zv�razn�n� texty v odr�k�ch. */



footer {
  color: gray;
  margin: 10px auto;
  text-align: center;
  /* Z�pat� bude zarovn�no na st�ed */
  font-size: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

strong {
  font-weight: bold;
}

mark {
  background-color: greenyellow;
  color: white;
}

/* Nastavte pravidla pro zna�ky vlo�en� do textu �vodn�ho odstavce,
   aby kone�n� vzheld textu odpov�dal p�edloze. */